#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;

    height: 10vh;

    background-color: var( --scnd-bg-color );
    border-radius: 20px;
}

#footer .text p {
    font-size: 1rem;
    font-weight: 600;
}