body {
    padding-top: 0px;
    display: flex; 
    flex-direction: column; 
    margin:0;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 48px;
    background-image: linear-gradient(75deg, rgb(92, 92, 92) 0%, rgb(61, 61, 61) 100%);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background: linear-gradient(60deg, rgb(142, 127, 202) 0%, rgb(71, 157, 168) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
    filter: drop-shadow(5px 5px 2px rgb(100, 124, 190));

}

.inner-header {
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex, .pill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pill {
    background-color: rgba(179, 179, 250, 0.075);
    border-radius: 15px;
    padding: 0px 6px;

    transition-duration: 0.5s;
}

.pill:hover {
    background-color: rgba(179, 179, 250, 0.205);
    padding: 0px 10px;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: #8898c4 0 0 30px;
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.info-tabs {
    display: table;
    margin: 0 auto;
}

.tabs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 0 50px;
    
}

.info-tabs .tab {
    max-width: 400px;
    margin-top: 10px;
    border: #b8c2dd solid 2px;
    padding: 0px 10px;
    border-radius: 5px;
    height: fit-content;
    box-shadow: #a1aed160 0  0 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.info-tabs .tab .title-tab {
    text-align: center;
}

.info-tabs .tab .title-tab p {
    background-image: linear-gradient(60deg, rgb(142, 127, 202) 0%, rgb(71, 157, 168) 100%);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    font-size: 1em;
}

.info-tabs .tab .description-tab p, .info-tabs .tab .description-tab a {
    background-image: linear-gradient(135deg, rgb(169, 161, 204) 0%, rgb(158, 142, 216) 100%);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 700;
}

@keyframes scroll-arrows {
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg);
    }
}

.arrows-down {
    position: relative;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 100px;
}

.arrows-down span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid rgb(9, 54, 255);
    border-right: 3px solid rgb(58, 104, 255);
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll-arrows 2s infinite;
}

.arrows-down span:nth-child(2) {
    animation-delay: 0.2s;
}

.arrows-down span:nth-child(3) {
    animation-delay: 0.4s;
}

.developers-container {
    text-align: center;
}

.developers {
    grid-template-columns: repeat(3, 200px);
}

.zoom-on-hover {
    transform: scale(1, 1);
    transition-duration: 0.5s;
}

.zoom-on-hover:hover {
    transition-duration: 0.2s;
    box-shadow: #a1aed1f0 0  0 30px;
    transform: scale(1.1,1.1);

}

.developers div {
    border: #8898c4 solid 3px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    width: 200px;
    line-height: 0px;
}

.developers img {
    width: 70px;
    border-radius: 100%;
}

.developers .name {
    font-size: 1em;
    font-weight: 600;
    color: #8898c4;
}

.developers .role {
    font-size: 1em;
    font-weight: 300;
    color: #8898c4;
}

.footer {
    margin-top:auto; 
    width: 100%;
    left: 0;
    height: 20vh;
    background: linear-gradient(60deg, rgb(142, 127, 202) 0%, rgb(71, 157, 168) 100%);
}

.footer svg {
    transform: rotate(180deg);
}

.footer .pill {
    position: relative;
    font-weight: 700;
    font-size: 1em;
    top: 3vh;
    cursor: auto;
}

@media screen and (max-width: 900px) {
    .tabs-container {
        display: block;
    }

    .info-tabs .tab {
        max-width: 500px;
    }
}