body {
    background-color: #4e4e4e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@keyframes header-animation {
    from { background-color: #414141; }
    50% { background-color: #252525; }
    to { background-color: #414141; }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
    animation: header-animation 5s ease-in-out infinite alternate;
}

.header .name {
    float: left;
    padding-left: 3vw;
    font-weight: 700;
    font-size: 1rem;
    color: #ffabab
}

.header .nav {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    height: 100%;
    align-items: center;
    margin-right: 1vw;
}

.header .button {
    padding: 1vh 1vw;
    color: black;
    padding-right: 1vw;
}

.header .button a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffabab;

    padding: 5px 1vw;
    border: #ffabab solid 1px;
    border-radius: 10px;

    background-color: #3f3f3f00;

    transition-duration: 0.3s;
}

.header .button a:hover {
    border-radius: 5px;
    background-color: #3f3f3f;
}



.page-body {
    position: relative;
    top: 100px;
    display: block;
}

.container {
    position: fixed;
    background-color: #252525;
    border: #ffabab solid 2px;
    border-radius: 10px;
    box-shadow: #ffabab8f 0px 0px 50px;

    width: 300px;
    user-select: none;
}

.container div {
    padding: 1vh 1vw;
    text-align: center;
}

.container h2 {
    color: #ffabab;
    font-size: 1.2rem;
}

.container p, .container a {
    color: #afafaf;
    text-shadow: #6d6d6d 2px 2px 2px;
    line-height: 5px;
}



.footer {
    position: absolute;
    max-height: 10vh;
    min-height: 5vh;
    bottom: 0;
    left: 0;
    width: 100%;

    animation: header-animation 5s ease-in-out infinite alternate;
}

.footer-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #ffabab;
}


